Contact-type:
<ng-container *ngFor="let contactType of contactTypes | keyvalue">
  <input
    class="contact-type-selector"
    type="radio"
    id="{{contactType.value}}-contacts-radio"
    [value]="contactType.value"
    [checked]="contactType.value === selectedContactType"
    (change)="onContactTypeChange(contactType.value)"
    name="cards">
  <label class="contact-type-selector"
         for="{{contactType.value}}-contacts-radio">{{contactType.value + " contacts"}}</label>
</ng-container>
